/* 게시판 클래스 모음 */


/*Tabs 관련 css*/
.nav.tabs-bg {
    border-radius: 5px;
}

.nav-link.unselected {
    color: gray;
}

.nav-link:hover.unselect,
.nav-link:focus.unselect,
.nav-link.active.selected {
    color: black;
    font-weight: bold;
}

/*마우스 커서 손모양 설정*/
.nav-link.cursor,
.select-box.cursor,
td.cursor,
.pages.cursor > a{
    cursor: pointer;
}

/*custom search bar*/
.search-bar {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

.search-bar:after {
    clear: both;
}

.search-bar input {
    width: 375px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid black;
    outline: none;
    position: relative;
    transition: .3s linear;
}

.search-bar button {
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 12px;
}

/*selectbox 선택 시 css*/
.form-select:focus.select-box {
    box-shadow: none;
}

.select-box > option {
    font-weight: bold;
}

/*selectbox input tabs background css*/

.search-bar input,
.select-box,
.nav.tabs-bg{
    /*background-color: rgba(123, 60, 250, 0.36);*/
}

/* table 줄 간격 css*/
table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

/* 페이지네이션 관련 css*/
.pages.cursor > a {
    margin-right: 6px;
}

/* ckEditor css*/
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 400px;
    margin-bottom: 20px;
}

/* 삭제 버튼 위치 css*/
.delete-left {
    position: relative;
}
