
/* 로고 */

.logo {
  font-family: 'yg-jalnan';
  font-size: 1.5rem;
  font-weight:800;
}

.logo span:first-of-type, .logo h1 {
  background: linear-gradient(to Right, #7b3cfa, #f388dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.05rem;
}

.logo h1 {
  margin : 8rem auto 0.7rem;
}

.login-info {
  font-size: 1.2em;
  color: #8a8a8a;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.login-form input{
  background-color: #f1f1f1;
  padding: 0.6em 1em;
  margin-bottom: 0.3em;
  border: none;
}

.join-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.05em;
}

.join-link a {
  color: #727171;
  font-weight: 550;
}

.join-link a:hover {
  color: #9b7ce8;
}

.join-title {
  letter-spacing: -0.05em;
  font-weight: 800;
  color: #7d4ae3;
}

.join-sub-tit h2, .join-sub-tit h1{
  letter-spacing: -0.08em;
  font-weight: 700;
  color: #6c6c6e;
}
.join-sub-tit h5{
  letter-spacing: -0.08em;
  font-weight: 600;
  color: #6c6c6e;
}

.join-step span {
  color: #9b9b9b;
  font-weight: 700;
  font-size: 1.1em;
}

.join-step.active-step span{
  font-weight: 800;
  color: #7d4ae3;
}

.join-step span:first-of-type {
  font-size: 1.0em;
  font-weight: 600;
}

.join-step.active-step span:first-of-type{
  color: #5e5e5e;
}

.join-step div {
  padding-bottom: 0.5em;
}

.join-form h4{
  letter-spacing: -0.08em;
  font-weight: 700;
  color: #6c6c6e;
}

.join-form input[type="text"], .join-form input[type="number"], .join-form input[type="password"] {
  background-color: #f1f1f1;
  padding: 0.6em 1em;
  margin-bottom: 0.3em;
  border: none;
}


/*
.logo span:last-of-type {
  color: #7d3dff;
}*/

/* 테마 버튼*/
.btn-purple {
  background: #8244ff;
  color: #fff;
  padding: 5px 15px;
  font-size: 1.03rem;
}
.btn-purple.btn-sm {
  font-size: 0.9rem;
  padding: 5px 10px;
  margin-right: 5px;
}

.btn-purple.round {
  border-radius: 20px;
}

.btn-purple:hover, .btn-outline-purple:hover,
.btn-outline-purple:active{
  background: #9766ff;
  color: #fff;
}

.btn-outline-purple,
.btn-outline-purple.btn.show{
  background: #fff;
  color: #8244ff;
  border : 1px solid #8244ff;
  padding: 5px 15px;
  font-size: 1.03rem;
  margin-right: 5px;
}
.btn-outline-purple.btn-sm,
.btn-outline-purple.btn.show.btn-sm{
  font-size: 0.9rem;
  padding: 5px 10px;
}

.nav-style {
  font-size: 1.05rem;
}

.nav-style .menu {
  font-weight: bold;
  color: #545454;
  padding-top: 0.6rem !important;
}

.nav-style .menu:hover {
  color: #7b3cfa;
}

/*
Container.board, div.board {
  padding: 10px 20px;
}
*/

/* nav novel search */
.novel-search-input input{
  border : none;
}

.novel-search-input input:focus {
  outline: none;
}

.novel-search-input form {
  border : 1px solid #ddd;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 0.95rem;
}

/* logout */

.logout {
  border : 1px dashed #b292fd;
  border-radius: 20px;
  padding: 8px 12px;
  font-weight: 700;
  font-size: 0.95rem;
}

.logout a {
  color: #9b71ff;
}

.logout a:hover {
  color: #5d1bec;
}

/* footer */

.footer {
  background-color: #412d70;
  min-height: 297px;
  margin-top: 4rem;
}

.foot-content > * {
  color: #fff;
  font-weight: 300;
}

.foot-content .m-name {
  font-weight: bold;
  margin-right: 0.5em;
}