/* css 설정 예시 > font-family: 'GmarketSans';*/
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

/* css 설정 예시 > font-family: 'yg-jalnan';*/
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

Link, a {
  text-decoration: none;
  color: #000;
}

/* swiper */
.swiper {
  width: 100%;
  height: 55vh;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.swiper-slide {
  width: 100%;
  text-align: center;
  color: #fff;
  position: relative;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-color: #e14f25;
}

.swiper-slide img{
  height: 100%;
  /*width: 100%;*/
  object-fit: contain;
}

.swiper-slide .slide-msg {
  color: #fff;
  position: absolute;
  left: 2rem;
  bottom: 1.8rem;
  letter-spacing: -0.03em;
  z-index: 1;
  text-align: start;
}

.slide-msg > * {
  font-weight: 800;
}

.slide-msg > h2 {
  font-size: 2.3rem;
}

.ft-yg {
  font-family: 'yg-jalnan';
}