/* 로그인, 회원가입페이지 클래스 모음 */
.fs-7 {font-size: 6px;}
.block {width: 200px; height: 200px;}
.box {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    overflow: hidden;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mini-block {width: 150px; height: 150px;}
.fs-button {font-size: 50px;}
.fs-button-heart {font-size: 80px;}
.text-color-red {-webkit-text-fill-color: #ff2626}
.text-color-blue {-webkit-text-fill-color: #262aff}

.btn-mini {
    line-height: 1;
}

.reply-input {
    border : 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.95rem;
}
.reply-input input{
    border : none;
}

.reply-input input:focus {
    outline: none;
}

.input-s1 {width: 100px}
.input-s2 {width: 200px}
.input-s3 {width: 300px}
.input-s4 {width: 400px}
.input-s5 {width: 500px}
.input-s6 {width: 65em}

.text-purple {
    color: #9766ff;
}
.btn-purple {
    --bs-btn-color: #fff;
    --bs-btn-bg: #9766ff;
    --bs-btn-border-color: #9766ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #b998ff;
    --bs-btn-hover-border-color: #b998ff;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b998ff;
    --bs-btn-active-border-color: #b998ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #9766ff;
    --bs-btn-disabled-border-color: #9766ff;
}
.btn-outline-purple {
    --bs-btn-color: #9766ff;
    --bs-btn-border-color: #9766ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #9766ff;
    --bs-btn-hover-border-color: #9766ff;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #9766ff;
    --bs-btn-active-border-color: #9766ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #9766ff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #9766ff;
    --bs-gradient: none;
}

.btn-light-purple {
    vertical-align: middle;
    --bs-btn-color: #b998ff;
    --bs-btn-border-color: #9766ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #b998ff;
    --bs-btn-hover-border-color: #9766ff;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b998ff;
    --bs-btn-active-border-color: #9766ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #b998ff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #9766ff;
    --bs-gradient: none;
}
.bg-purple-light {
    background-color: rgba(185, 152, 255, 0.2);
}
.box-board {
    --bs-rows: 3; --bs-columns: 3;
}