
.cate-low + .cate-low::before {
  content:"";
  display: block;
  border-top: 1px dashed #ae89ff;
  width: 90%;
  margin: auto auto 0.3rem auto;
  /*margin: 0 auto;*/
}

/* cate-tabs */

input[type=radio] {
  appearance: none;
}

.cate-tabs ul {
  padding: 0;
}
.cate-tabs ul li{
  float: left;
  list-style-type: none;
}

.cate-list li + li {
  margin-left: 0.4em;
}

.cate-list label {
  padding: 0.3em 1.0em;
  border-radius: 2em;
  border: 1px solid #d4c0ff;
  transition: all ease 0.5s;
}

.cate-list label:hover{
  cursor: pointer;
}

.cate-list input:checked + label   {
  color: #fff;
  background-color: #8c52fc;
  border: 1px solid #8c52fc;
  transition: all ease 0.3s;
}

/* cate-item */

.cate-item {
  min-height: 180px;
  margin: 0 auto;
}

.cate-item:hover {
  cursor: pointer;
  background-color: #e8e0ff;
  transition: all 0.5s ease;
  border-radius: 8px;
}

.cate-img {
  height: 150px;
  width: 100px;
  position: relative;
  overflow:hidden;
  margin:0 auto;
}

.cate-img .adult-img{
  font-size: 1.0em;
  right: 0.5rem;
  top : 0.3em;
}

.cate-img img{
  width:100%;
  height:100%;
  object-fit: cover;
  background-color: #ddd; /* 이미지 없을 경우 */
}

.cate-item .info .tit{
  font-weight: 800;
  letter-spacing: -0.05em;
}

.cate-item .info .head {
  float: left;
}

.info-desc {
  height: 75px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
}