
/* cate-tabs */

input[type=radio] {
  appearance: none;
}

.cate-tabs ul {
  padding: 0;
}
.cate-tabs ul li{
  float: left;
  list-style-type: none;
}

.cate-list li + li {
  margin-left: 0.4em;
}

.cate-list label {
  padding: 0.3em 1.0em;
  border-radius: 2em;
  border: 1px solid #d4c0ff;
  transition: all ease 0.5s;
}



.cate-list input:checked + label   {
  color: #fff;
  background-color: #8c52fc;
  border: 1px solid #8c52fc;
  transition: all ease 0.3s;
}
